# Ignore environment and config files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Virtual environment folders
venv/
env/
